name: Test00
on:
  pull_request:
    branches: 
      - main
    types: [closed]

jobs: 
  build:
    name: Test00
    runs-on: ubuntu-latest
    steps:
    - name: Step01
      uses: actions/checkout@v2
      
    - name: Step02
      run: ls -la
